module.exports = {
  apps : [
      {
        name: "qrcode-shortener",
        script: "./server/index.js",
        watch: false,
        env: {
          "NODE_ENV": "production",
          "PORT": 1337,
          "DOMAIN": "https://yourshortdomain.com",
          "REDIS_HOST": "localhost",
          "REDIS_PORT": 6379,
        }
      }
  ]
}